@font-face {
    font-family: "FiraMono";
    src: url("FiraMono-Regular.ttf");
  }

@font-face {
  font-family: "JosefinSans";
  src: url("JosefinSans-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "JosefinSans", sans-serif; */
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  pointer-events: stroke;
}
ul {
  list-style: none;
}



header {
  position: fixed;
  float: left;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: #C0C78C;
  padding: 20px;
  text-align: center;
  /* border-bottom: 1px solid #00c2cb; */
}


/* header nav a {
  padding: 10px 20px;
  font-size: 2rem;
  color: #ffe45e;
  border-radius: 5px;
  letter-spacing: 0.5px;
}
header nav a:hover,
header nav a.active {
  background: #5aa9e6;
  color: #42455a;
  transition: 0.5s ease-out;
  letter-spacing: 2px;
} */
body {
  background: #C0C78C;
  overflow: hidden;
}

.start {
  position: absolute;
  top: 10px;
  left: 100px;
  width: 100%;
  height: 100%;
  padding: 0px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  pointer-events: none;
  color: #8e996b;
}

.nav_section {
  position:absolute;
  top:50px;
}

.name {
  font-family: 'JosefinSans';
  font-size: 50px;
}

.title {
  font-family: "FiraMono";
  font-size: 13px;
  position: absolute;
  top: 55px;
  left: 1px;

}

.nav {
  font-family: "FiraMono";
  font-size: 13px;
  position: absolute;
  top: 100px;

}

li { 
  margin: 10px 0; 
}

.nav a:link {
  color:#8c9669
}

.nav a:visited {
  color: #8c9669
}

.nav a:hover {
  display: inline-block;
  position: relative;
}

.nav a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #d5dba4;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}



/* .wrapper {
  position:absolute;
} */

.content {
  position: absolute;
  display: block;
  top: 200px;
  right: 100px;
  font-family: 'JosefinSans';
  
}

.page_about{
  position:absolute;
  right:100px;
  width: 500px;
}

.github a:link {
  color:#8c9669;
  position: relative;
  font-family: "FiraMono";
  font-size: 13px;
  top: -16px;
  left: 80px;

}

.github a:visited {
  color:#8c9669;

}

.github a:hover {
  display: inline-block;
  position: relative;
}

.github a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #d5dba4;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.github a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}



.page_projects {
  position: absolute;
  right: 100px;
  margin-top: -50px;
  width: 500px;
}

.links {
  font-size: 50px;
}

.links a:link {
  color:#8c9669;

}

.links a:visited {
  color:#8c9669;

}

.links a:hover {
  display: inline-block;
  position: relative;
}

.links a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #d5dba4;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.links a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.links li {
  margin: 30px 0; 
}

.project_desc1 {
  font-size: 13px;
  font-family: "FiraMono";
  top: -20px;
  position: relative;
}

.page_contact {
  position: absolute;
  right: -200px;
  width: 500px;
}

.email {
  font-family: "FiraMono";
  font-size:13px;
}

.email a:link {
  color:#8c9669;

}

.email a:visited {
  color:#8c9669;

}

.email a:hover {
  display: inline-block;
  position: relative;
}

.email a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #d5dba4;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.email a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
